.FancyBurger {
  background-color: hsla(50, 100%, 50%, .7);
  $burger-size: 50px;
  opacity: 1;
  // UNCHECKED BURGER TOGGLE
  #burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
  }
    .burger-menu {
      position: fixed;
      top: .2em;
      right: .5em;
      // background-color: rgba(0,0,0,.1);
      width: calc($burger-size * .7);
      height: $burger-size;
      z-index: 100;
      display: block;
      outline: none;
      cursor: pointer;
      transform: translateY(-10%);
      &:hover {
        .line::after {
        transform: translateX(0);
        }
      }
      .line {
        position: absolute;
        width: 100%;
        height: calc($burger-size / 12);
        // background: hsla(210, 29%, 24%, 0.3);
        background: var(--text-color);
        border-radius: calc($burger-size / 2);
        overflow: hidden;
        // box-shadow: 0 0 .3em;
        transition: 0.5s;
      &:nth-child(1) {
        top: 30%;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 70%;
      }
      @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 100ms * ($i - 1);
      }
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        transform: translateX(-100%);
        transition: 250ms;
      }
      }
    }

    // CHECKED BURGER TOGGLE
    #burger-toggle {
      &:checked {
      & ~ .burger-menu {
      .line {
        &::after {
          transform: translateX(0);
        }

        &:nth-child(1) {
          transform: translateY(calc($burger-size / 5))
            rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc($burger-size / -5))
            rotate(-45deg);
        }
      }
      }
      }
    }
}
