.ResultCard {
    position: relative;
    max-width: 600px;
    min-width: min(500px, 100%);
    padding: 10px;
    border: 1px solid rgba(127,127,127,.2);
    --border-radius: 4px;
    border-radius: var(--border-radius);
    // box-shadow: 0 0 2em var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
        cursor: pointer;

    &.nonfocus:not(.active) {
        opacity: .3;
    }
    &.opfyldt{
        &::before {
        background-color: var(--primary-color);
        background: linear-gradient(45deg, var(--primary-color), var(--primary-color), var(--background-color));
        opacity: 1;
        }
    }
    &.igangsat{
        &::before {
        background-color: var(--secondary-color);
        background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color), var(--background-color));

        opacity: .3;
        }
    }
    &.afventer{
        &::before {
        background-color: var(--background-color);
        opacity: .6;
        }
    }
    &.udskudt{
        &::before {
        background-color: red;
        background: linear-gradient(45deg, var(--primary-contrast-color), var(--primary-contrast-color), var(--background-color));
        opacity: .5;
        }
    }

    .title {
        text-align: center;
        word-break: break-all;
        &::after {
            // content: '▼';
            content: ' +';
            opacity: .4;
        }
    }
    .collapse {
        max-height: 0;
        overflow: hidden auto;
        transition: max-height 300ms, border 300ms;
        > ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style-type: none;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            > li {
                width: 100%;
                display: flex;
                // flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;
                gap: 10px;
                > *:first-child {
                    flex: 0 0 126px;
                }
                > *:nth-child(2) {
                    flex: 1 1;
                }
            }
        }
    }
    .title {
        // padding-bottom: 10px;
        font-weight: bold;
        border-bottom: 0px solid rgba(127,127,127,0);
        transition: border-bottom 300ms, padding 300ms;
        cursor: pointer;
    }
    &.active {
        border: 1px solid var(--text-color);
        &::before {
            // box-shadow: inset 0 0 1em var(--background-color);
            // background-color: var(--primary-color);
            filter: invert(5%);
            opacity: 1;
        }
        .title{
            padding-bottom: 10px;
            border-bottom: 1px solid var(--text-color);
            &::after {
        // content: '▲';
            content: ' -';
            }
        }
        .collapse {
        max-height: 500px;
    }
    }

    .cover {
        text-align: center;
        img {
        max-width: 100%;
        max-height: 200px;
        background-color: white;
        border: 1px solid var(--text-color);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        opacity: .3;
        z-index: -1;
        transition: opacity 300ms, filter 300ms;
        filter: invert(0%);
    }
}
