.Results {
    .legend {
        display: inline-block;
        position: relative;
        padding: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &.active {
            border: 1px solid var(--text-color);
        }
        // width: 40px;
        // height: 20px;
        font-size: 12px;
        // line-height:1;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    &.opfyldt{
        &::before {
        background-color: var(--primary-color);
        opacity: 1;
        }
    }
    &.igangsat{
        &::before {
        background-color: var(--secondary-color);
        opacity: .3;
        }
    }
    &.afventer{
        &::before {
        background-color: var(--background-color);
        opacity: .6;
        }
    }
    &.udskudt{
        &::before {
        background-color: red;
        opacity: .5;
        }
    }
    }
    .catTitle {
        border-bottom: 1px solid rgba(127,127,127,.2);
    }
    .publicationCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 10px;
        & > .byYearBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    .ResultsList {
        ul.liList {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            list-style-type: none;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            gap: 10px;
            & > li {
                // width: min(340px, 90vw);
                flex: 1 0 min(340px, 90vw);
            }
        }

    }
}
