@import 'src/_style/animations.scss';

.Timeline {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .flexHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        > *:first-child {
            flex-shrink: 0;
        }
    }
        ul {
            list-style-type: none;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
        }
    .phases {
        ol {
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 1em;
        }
        min-width: min(290px, 100%);
        flex: 2 1;

    }
    .workPackages {
        min-width: min(400px, 100%);
        flex: 5 1;
        ul.wpList {
            position: relative;
            // min-height: 90vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            > * {
                > span {
                    font-size: 0%;
                }
            }
            .wpDescription {
                opacity: 0;
                position: absolute;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 1em 0;
                white-space: nowrap;
                transition: opacity 300ms;
                cursor: default;
            }
            
                margin-bottom: 3em;
            
            > li {
                > *:first-child:hover {
                    animation: bubble-anim 700ms;
                & + .wpDescription {
                opacity: 1;
                }
            }
            > li:active > *:first-child{
                animation: bubble-anim 700ms alternate infinite;   
            }
            }

        }
    }
}
