@import 'src/_style/animations.scss';

.WorkPackageBox {
    position: relative;
    border: 1px solid rgba(127,127,127,.5);
    border-radius: 4px;
    padding: 2em;
    z-index: 2;
    //WP COLORS
    --WPCOl-front: var(--text-color);
    --WPCOL-back: var(--background-color);
    &::before {
        content: '';
        position: absolute;
        top: 1em;
        left: 1em;
        width: calc(100% - 2em);
        height: calc(100% - 2em);
        background-color: var(--WPCOL-back);
        // background: linear-gradient(180deg,var(--text-color),var(--text-color), transparent);
        opacity: 0.85;
        border-radius: 4px;
        box-shadow: 0 0 1em var(--WPCOL-back);
        z-index: -1;
    }
    color: var(--WPCOL-front);
    text-shadow: 0 0 .3em var(--WPCOL-back);
    a{ color: var(--WPCOL-front);}

    .close {
        display: none;
        float: right;
    }
    .header {
        overflow: hidden;
        font-size: min(calc(1em + .1vw));
        font-weight: bold;
    }
    .bold {
        font-weight: bold;

    }
    .bgImage{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -2;
    }
    .flexHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        > *:first-child {
            flex-shrink: 0;
        }
    }
    &.active {
    }
    .more {
        // cursor: pointer;
        // &::after{
        //     content: '▼';
        // }
    }
        .collapse {
        // margin: 0;
        // padding: 0;
        // max-height: 0em;
        // overflow: hidden;
    }
    &.active {
            .close {
        display: block;
    }
        .more {

        // &::after {
        //     content: '▲';
        // }
    }
        .collapse {
            max-height: 1000vh;
        }
    }
    .results {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
