.Infobox {
    position: relative;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(127,127,127,.2);
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:linear-gradient(45deg, var(--secondary-color), var(--secondary-color), var(--background-color));
        z-index: -1;
    }
}
