.Header {
    width: 100%;
    overflow: hidden;
    // padding-bottom: 40px;
        .backgroundImage {
        position: absolute  ;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .fix_container {
        .mainLogo {
             height: 25vw;
             width: 100%;
             transition: top 300ms, opacity 600ms;
             top: 0%;
            img {
                max-height: 25vw;
                transition: top 300ms, opacity 300ms;
                margin: 0 50%;
                transform: translateX(-50%);
            }
        }
    }
    .scrolled {
        .fix_container {
            .mainLogo {
                opacity: 0;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .Header {
        padding-bottom: 0px;
            .scrolled {
                .fix_container {
                    h1 {
                        display: none;
                    };
            }}
            .fix_container {
                padding: 0;
                 .content nav{
                     visibility: hidden;
                     height: 0;
                 }
            }
    }
}