@import 'src/_style/animations.scss';

.App {
  font-family: var(--ff), sans-serif;
  * {
    box-sizing: border-box;
  }
  h1,h2,h3,h4, button, .themed-title {
    font-family: var(--hf), sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    word-wrap: break-word;
    hyphens: auto;
    // font-size: larger;
  }
  .page_title {
    display: block;
    width: 100%;
    font-size: min(2.4em, 7vw);
    text-align: center;
    opacity: 0;
    animation: fade-in 700ms forwards;
    &::after {
      content: '';
      display: block;
      margin:auto;
      height: 3px;
      width: 60%;
      opacity: .1;
      background-color: var(--text-color);
      transform: scale(0);
      border-radius: 2px;
      animation: stretch 2000ms forwards ease-out;
    }
  }

}
