@import 'src/_style/animations.scss';

.Router {
    .router_content {
        position: relative;
        padding: 40px 5%;
        min-height: 100vh;
        opacity: 1;
        animation: fade-in 1700ms forwards;
        // &::before {
        //     z-index: -1;
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     margin: 0 2.5%;
        //     width: 95%;
        //     height: 100%;
        //     border-radius: 5px;
        //     background-color: var(--background-color);
        //     opacity: .6;
        //     box-shadow: 0 0 1em var(--background-color);
        // };
        // text-aligjkn: center;
    }
}
